In [7]:
import pandas as pd
from Crypto.Cipher import AES
from Crypto.Util.Padding import unpad
from IPython.display import display

In [8]:
with open("key.bin", "rb") as keyfile:
    key = keyfile.read()
with open("iv.bin", "rb") as ivfile:
    iv = ivfile.read()

In [9]:
df = pd.read_csv("encrypted_transactions.csv")

In [10]:
def decrypt_column(value):
    cipher = AES.new(key, AES.MODE_CBC, iv)
    decrypted_value = unpad(cipher.decrypt(bytes.fromhex(value)), AES.block_size)
    return decrypted_value.decode()

In [11]:
df['Decrypted_TX_AMOUNT'] = df['Encrypted_TX_AMOUNT'].apply(decrypt_column)
df['Decrypted_ACCOUNT_ID'] = df['Encrypted_ACCOUNT_ID'].apply(decrypt_column)
df['Decrypted_TRANSACTION_ID'] = df['Encrypted_TRANSACTION_ID'].apply(decrypt_column)

In [12]:
df.to_csv("decrypted_transactions.csv", index=False)

In [13]:
print("Decryption complete! Decrypted dataset saved as 'decrypted_transactions.csv'.")

Decryption complete! Decrypted dataset saved as 'decrypted_transactions.csv'.

In [14]:
print("\nTransaction Amount:")
display(df[['Encrypted_TX_AMOUNT', 'Decrypted_TX_AMOUNT']].head().style.set_caption("TX_AMOUNT"))

print("\nAccount ID:")
display(df[['Encrypted_ACCOUNT_ID', 'Decrypted_ACCOUNT_ID']].head().style.set_caption("ACCOUNT_ID"))

print("\nTransaction ID:")
display(df[['Encrypted_TRANSACTION_ID', 'Decrypted_TRANSACTION_ID']].head().style.set_caption("TRANSACTION_ID"))

Transaction Amount:

Account ID:

Transaction ID: