In [44]:
import pandas as pd

In [45]:
users = {
    "admin_user": {"password": "Admin@123", "role": "Admin"},
    "manager_user1": {"password": "Manager#456", "role": "Manager"},
    "manager_user2": {"password": "Manager#789", "role": "Manager"},
    "manager_user3": {"password": "Manager#321", "role": "Manager"},
    "analyst_user1": {"password": "Analyst@101", "role": "Analyst"},
    "analyst_user2": {"password": "Analyst@202", "role": "Analyst"},
    "analyst_user3": {"password": "Analyst@303", "role": "Analyst"},
    "analyst_user4": {"password": "Analyst@404", "role": "Analyst"},
    "analyst_user5": {"password": "Analyst@505", "role": "Analyst"},
}

In [46]:
# (RBAC) fields
access_control = {
    "Admin": ["All fields accessible"],
    "Manager": [
        "TRANSACTION_ID", "TX_DATE     TIME", "ACCOUNT_ID", "TRANSACTION_TYPE", 
        "TX_AMOUNT", "TX_AMOUNT_STD", "TX_AMOUNT_MEAN", "Amount_Deviation", 
        "ACCOUNT_ID_NB_TX_1H_WINDOW", "ACCOUNT_ID_AVG_AMOUNT_1H_WINDOW"
    ],
    "Analyst": [
        "TX_DATE     TIME", "TRANSACTION_TYPE", "TX_AMOUNT_STD", "TX_AMOUNT_MEAN", 
        "Amount_Deviation", "TX_FRAUD", "TX_DURING_WEEKEND", "TX_DURING_NIGHT"
    ]
}

In [47]:
def authenticate(username, password):
    if username in users:
        if users[username]["password"] == password:
            return users[username]["role"]
    return None

In [48]:
# Function to display accessible fields
def display_accessible_fields(role):
    print(f"\nRole: {role}")
    print("Accessible Fields:")
    if role == "Admin":
        print(", ".join(access_control["Admin"]))
    else:
        print(", ".join(access_control[role]))

In [49]:
print("\nLoading dataset...")
df = pd.read_csv("encrypted_transactions.csv")  
print("Dataset loaded successfully!\n")

Loading dataset...
Dataset loaded successfully!

In [50]:
print(df.columns.tolist())

['TRANSACTION_ID', 'TX_DATE     TIME', 'ACCOUNT_ID', 'TRANSACTION_TYPE', 'TX_AMOUNT', 'TX_TIME_SECONDS', 'TX_TIME_DAYS', 'TX_FRAUD', 'TX_FRAUD_SCENARIO', 'TX_AMOUNT_STD', 'TX_AMOUNT_MEAN', 'Amount_Deviation', 'Amount_Threshold', 'Time_Seconds_Diff', 'Time_Diff', 'TX_DURING_WEEKEND', 'TX_DURING_NIGHT', 'TX_FRAUD_1H_SCENARIO', 'ACCOUNT_ID_NB_TX_1H_WINDOW', 'ACCOUNT_ID_AVG_AMOUNT_1H_WINDOW', 'Encrypted_TX_AMOUNT', 'Encrypted_ACCOUNT_ID', 'Encrypted_TRANSACTION_ID']

In [51]:
print("Welcome to the System!")
username = input("Enter your username: ")
password = input("Enter your password: ")

Welcome to the System!

Enter your username:  analyst_user4
Enter your password:  Analyst@404

In [52]:
# Authenticate user
role = authenticate(username, password)

In [53]:

from IPython.display import display

print("\nüîê Sample Data for Your Role:")
if role == "Admin":
    display(df.head().style.set_caption("Admin View").set_table_styles([{
        'selector': 'caption',
        'props': [('color', 'black'), ('font-size', '16px'), ('text-align', 'left'), ('font-weight', 'bold')]
    }]))
elif role == "Manager":
    display(df[access_control["Manager"]].head().style.set_caption("Manager View").set_table_styles([{
        'selector': 'caption',
        'props': [('color', '#2E86C1'), ('font-size', '16px'), ('text-align', 'left'), ('font-weight', 'bold')]
    }]))
elif role == "Analyst":
    display(df[access_control["Analyst"]].head().style.set_caption("Analyst View").set_table_styles([{
        'selector': 'caption',
        'props': [('color', '#239B56'), ('font-size', '16px'), ('text-align', 'left'), ('font-weight', 'bold')]
    }]))

üîê Sample Data for Your Role: